### all ignore ###
/*
/.**

!.gitignore
!.config/

!.config/alacritty/
!.config/alacritty/**

!.config/karabiner/
!.config/karabiner/**
.config/karabiner/automatic_backups

!.config/nvim/
!.config/nvim/**
.config/nvim/sessions/
.config/nvim/.netrwhist

!.config/tmux/
!.config/tmux/**
.config/tmux/plugins/

!.config/flake8

!.zshrc

.DS_Store
